{% extends "base_template.html" %}

{% load static %}

{% block content %}

<div class="entry-wrapper">
    <h1>Welcome to the Label App.</h1>
    <p>Search for a label and get all information you need!</p>
</div>
<form class="search-bar-form" action="{% url 'search_label' %}" method="post" autocomplete=off>
    {% csrf_token %}
    <div class="search-bar-wrapper">
        <input type="text" placeholder="Search.." name="label_search" required>
        <button type="submit"><i class="fa fa-search search-btn"></i></button>
    </div>
</form>

{% endblock %}
