{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static '/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="page">
    <div class="navbar">
      <a href="#home">Home</a>
      <a href="#news">News</a>
      <div class="dropdown">
        <button class="dropbtn">Dropdown
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </div>

    <div class="main">
        <form class="search-bar-form" action="{% url 'search_label' %}" method="post">
            {% csrf_token %}
            <h1>Welcome to the Label App.</h1>
            <p>Search for a label and get all information you need!</p>
            <input type="text" placeholder="Search label" name="label_search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

</body>
</html>