{% extends "base_template.html" %}

{% load static %}
{% block content %}
<style>
    .circle-big {
        display: none;
    }
</style>

        <div class="results__wrapper">
            <ul>
            {% for item in results_list %}
                <li  class="results__item">
                    <div class="results__preview-image">
                        <img src="{% static item.image_media_path %}">
                    </div>
                    <div class="results__short_info">
                        <h2>{{ item.name }}</h2>
                        <p>{{ item.short_description }}</p>
                    </div>
                    <div class="results__score">
                        {% for css_class in item.score_total_display %}
                            <span class="fa fa-star {{ css_class }}"></span>
                        {% endfor %}
                    </div>
                    <div class="results__more_info">
                        <a href="{{ item.more_info_url }}"><button>More Info</button></a>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>

{% endblock %}